.registration-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.registration-image {
  width: 100%;
  height: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
}
.registration-header {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.registration-title {
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text {
  align-self: center;
}
.registration-registration-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  justify-content: center;
}
.registration-registration-form {
  flex: 1;
  width: 200px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration-all-fields {
  flex: 1;
  width: 200px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.registration-user-fields {
  gap: var(--dl-space-space-unit);
  flex: 1;
  height: 312px;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.registration-first-name {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.registration-text03 {
  width: var(--dl-size-size-xlarge);
  height: 35px;
  align-self: flex-start;
  text-align: center;
  line-height: 2;
  padding-right: var(--dl-space-space-unit);
}
.registration-textinput {
  width: var(--dl-size-size-xxlarge);
}
.registration-last-name {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.registration-text04 {
  width: var(--dl-size-size-xlarge);
  height: 35px;
  align-self: flex-start;
  text-align: center;
  line-height: 2;
  padding-right: var(--dl-space-space-unit);
}
.registration-textinput1 {
  width: var(--dl-size-size-xxlarge);
}
.registration-email {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.registration-text05 {
  width: var(--dl-size-size-xlarge);
  height: 35px;
  align-self: flex-start;
  text-align: center;
  line-height: 2;
  padding-right: var(--dl-space-space-unit);
}
.registration-textinput2 {
  width: var(--dl-size-size-xxlarge);
}
.registration-confirm-email {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.registration-text06 {
  width: var(--dl-size-size-xlarge);
  height: 35px;
  align-self: flex-start;
  text-align: center;
  line-height: 2;
  padding-right: var(--dl-space-space-unit);
}
.registration-textinput3 {
  width: var(--dl-size-size-xxlarge);
}
.registration-password {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.registration-text07 {
  width: var(--dl-size-size-xlarge);
  height: 35px;
  align-self: flex-start;
  text-align: center;
  line-height: 2;
  padding-right: var(--dl-space-space-unit);
}
.registration-textinput4 {
  width: var(--dl-size-size-xxlarge);
}
.registration-confirm-password {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.registration-text08 {
  width: var(--dl-size-size-xlarge);
  height: 35px;
  align-self: flex-start;
  text-align: center;
  line-height: 2;
  padding-right: var(--dl-space-space-unit);
}
.registration-textinput5 {
  width: var(--dl-size-size-xxlarge);
}
.registration-sign-up-confirm {
  width: var(--dl-size-size-xxlarge);
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.registration-to-login-container {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.registration-text12 {
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.registration-navlink {
  align-self: center;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline none;
}
@media(max-width: 1200px) {
  .registration-sign-up-confirm {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .registration-to-login-container {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .registration-registration-container {
    width: 728px;
    height: 743px;
  }
  .registration-registration-form {
    width: 622px;
    height: 722px;
  }
  .registration-all-fields {
    width: 556px;
    height: 100%;
    align-items: flex-start;
  }
  .registration-user-fields {
    width: 699px;
    height: 663px;
  }
}
@media(max-width: 479px) {
  .registration-registration-container {
    width: var(--dl-size-size-xxlarge);
    height: 811px;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .registration-registration-form {
    width: auto;
    height: 100%;
    position: relative;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .registration-all-fields {
    width: auto;
    height: 773px;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .registration-user-fields {
    width: 479px;
    height: 938px;
    align-self: flex-start;
    margin-top: 0px;
    align-items: center;
    padding-bottom: 12px;
    justify-content: flex-start;
  }
  .registration-first-name {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .registration-text03 {
    width: 170px;
    text-align: left;
    font-family: Arial;
    padding-right: var(--dl-space-space-unit);
    text-transform: capitalize;
  }
  .registration-textinput {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .registration-last-name {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .registration-text04 {
    width: 170px;
    text-align: left;
    font-family: Arial;
    padding-right: var(--dl-space-space-unit);
    text-transform: capitalize;
  }
  .registration-textinput1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .registration-email {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .registration-text05 {
    width: 170px;
    text-align: left;
  }
  .registration-confirm-email {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .registration-text06 {
    width: 170px;
    text-align: left;
  }
  .registration-text07 {
    width: 170px;
    align-self: center;
    text-align: left;
  }
  .registration-text08 {
    width: 170px;
    text-align: left;
  }
}
