.restraunt-detail-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.restraunt-detail-image {
  width: 100%;
  height: 254px;
  align-self: center;
  object-fit: cover;
}
.restraunt-detail-header {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.restraunt-detail-title {
  font-size: 32px;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.restraunt-detail-text {
  align-self: center;
}
.restraunt-detail-description {
  flex: 1;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.restraunt-detail-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.restraunt-detail-my-rating {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.restraunt-detail-container02 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.restraunt-detail-container03 {
  flex: 0 0 auto;
  width: 556px;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.restraunt-detail-text01 {
  width: var(--dl-size-size-medium);
  align-self: center;
}
.restraunt-detail-container04 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.restraunt-detail-container05 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  justify-content: center;
}
.restraunt-detail-global-rating {
  flex: 0 0 auto;
  width: 556px;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.restraunt-detail-text04 {
  width: var(--dl-size-size-medium);
  align-self: center;
}
.restraunt-detail-global-likes {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.restraunt-detail-global-dislikes {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.restraunt-detail-address-contact {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.restraunt-detail-container06 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.restraunt-detail-container07 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.restraunt-detail-more-info {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.restraunt-detail-container08 {
  flex: 0 0 auto;
  width: 1110px;
  height: 100px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.restraunt-detail-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  flex-direction: row;
}
.restraunt-detail-text07 {
  width: var(--dl-size-size-medium);
  align-self: center;
}
.restraunt-detail-text08 {
  width: 290px;
  height: auto;
  font-size: 16px;
  align-self: center;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.restraunt-detail-form {
  width: 200px;
  height: 100%;
  display: flex;
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.restraunt-detail-container10 {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
}
.restraunt-detail-text09 {
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-image: radial-gradient(circle at center, rgb(189, 195, 199) 0.00%,rgb(0, 128, 255) 100.00%);
}
.restraunt-detail-button {
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.restraunt-detail-button:hover {
  color: #ffffff;
  background-color: #000000;
}
.restraunt-detail-container11 {
  display: flex;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.restraunt-detail-text10 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.restraunt-detail-text11 {
  align-self: center;
  text-align: center;
}
.restraunt-detail-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: 232323;
}
.restraunt-detail-container12 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.restraunt-detail-text12 {
  color: var(--dl-color-gray-white);
  padding-bottom: var(--dl-space-space-unit);
}
.restraunt-detail-container13 {
  flex: 0;
  width: 1517px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 1200px) {
  .restraunt-detail-container05 {
    padding-left: var(--dl-space-space-halfunit);
  }
  .restraunt-detail-global-likes {
    width: auto;
    height: auto;
    margin-right: var(--dl-space-space-unit);
  }
  .restraunt-detail-amount {
    align-self: center;
    margin-right: var(--dl-space-space-halfunit);
  }
  .restraunt-detail-title1 {
    align-self: center;
  }
  .restraunt-detail-global-dislikes {
    width: auto;
    height: auto;
  }
  .restraunt-detail-amount1 {
    align-self: center;
    margin-right: var(--dl-space-space-halfunit);
  }
  .restraunt-detail-title2 {
    align-self: center;
  }
  .restraunt-detail-text08 {
    text-transform: none;
  }
}
@media(max-width: 991px) {
  .restraunt-detail-text12 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .restraunt-detail-container12 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .restraunt-detail-my-rating {
    flex-wrap: wrap;
  }
  .restraunt-detail-container12 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
