.restaurant-search-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.restaurant-search-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-fourunits);
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr;
}
.location-header {
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.search-bar-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.search-bar-form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  justify-content: center;
}
.search-bar-text {
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.search-bar-input {
  border-width: 2px;
  border-radius: 1px;
  padding: 2px 4px;
}
.search-bar-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.rated-restraunt-card-container {
  width: 100%;
  height: 400px;
  /* display: flex; */
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
.search-bar-icon:hover {
  width: 24px;
  height: 24px;
  border-width: 2px;
  border-radius: 1px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}


@media(max-width: 991px) {
  .restaurant-search-container1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .restaurant-search-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .restaurant-search-container1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 479px) {
  .restaurant-search-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .restaurant-search-container1 {
    grid-template-columns: 1fr;
  }
}
