.restraunt-rating-page {
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.restraunt-image {
  width: 100%;
  height: 254px;
  align-self: center;
  object-fit: cover;
}
.restraunt-rating-header {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.restraunt-rating-title {
  font-size: 32px;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.restraunt-rating-restraunt-info {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.restraunt-rating-restraunt-details {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.restraunt-rating-restraunt-contacts {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.restraunt-rating-row1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.restraunt-rating-row2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.restraunt-rating-row3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.restraunt-rating-like-button {
  flex: 0 0 auto;
  width: 100px;
  margin-top: 45px;
  margin-left: 30px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}

.restraunt-rating-unlike-button {
  flex: 0 0 auto;
  color: white;
  background-color: red;
  width: 100px;
  margin-top: 45px;
  margin-left: 30px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 29px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}

@media(max-width: 1200px) {
  .restraunt-rating-restraunt-details {
    width: auto;
    height: auto;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .restraunt-rating-text01 {
    width: auto;
    padding-right: var(--dl-space-space-unit);
  }
  .restraunt-rating-likes {
    width: auto;
    height: auto;
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .restraunt-rating-amount {
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .restraunt-rating-title1 {
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .restraunt-rating-text07 {
    align-self: center;
  }
  .restraunt-rating-dislikes {
    width: auto;
    height: auto;
  }
  .restraunt-rating-amount1 {
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .restraunt-rating-title2 {
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .restraunt-rating-restraunt-description {
    flex-wrap: wrap;
    align-self: flex-start;
  }
  .restraunt-rating-container4 {
    width: auto;
    margin-left: var(--dl-space-space-twounits);
  }
  .restraunt-rating-container5 {
    width: auto;
    height: auto;
    align-self: flex-start;
  }
  .restraunt-rating-title3 {
    align-self: flex-start;
  }
  .restraunt-rating-content {
    align-self: flex-start;
  }
  .restraunt-rating-like-button {
    color: #ffffff;
    font-size: 20px;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    transition: 0.3s;
    margin-left: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
    background-color: #6cb4ee;
  }
}
@media(max-width: 991px) {
  .restraunt-rating-text11 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .restraunt-rating-container6 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .restraunt-rating-restraunt-details {
    height: 773px;
    flex-wrap: wrap;
  }
  .restraunt-rating-sentiment-rating {
    width: 478px;
    flex-wrap: wrap;
    align-self: flex-start;
  }
  .restraunt-rating-personal-rating {
    width: auto;
  }
  .restraunt-rating-global-rating {
    width: auto;
  }
  .restraunt-rating-restraunt-contacts {
    flex-wrap: wrap;
    align-self: flex-start;
  }
  .restraunt-rating-container6 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .restraunt-rating-container7 {
    width: auto;
    flex-direction: column;
  }
}