.user-login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.user-login-image {
  width: 100%;
  height: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
}
.user-login-header {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.user-login-title {
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.user-login-text {
  align-self: center;
}
.user-login-container1 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.user-login-text3 {
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.user-login-navlink {
  align-self: center;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline none;
}
.user-login-container2 {
  height: 688px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.user-login-form {
  flex: 1;
  height: 100px;
  display: flex;
  align-self: stretch;
}
.user-login-container3 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 200px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.user-login-user-name-field {
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.user-login-text6 {
  width: var(--dl-size-size-xlarge);
  height: 35px;
  align-self: flex-start;
  text-align: center;
  line-height: 2;
  padding-right: var(--dl-space-space-unit);
}
.user-login-textinput {
  width: var(--dl-size-size-xxlarge);
}
.user-login-user-name-field1 {
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.user-login-text7 {
  width: var(--dl-size-size-xlarge);
  height: 35px;
  align-self: flex-start;
  text-align: center;
  line-height: 2;
  padding-right: var(--dl-space-space-unit);
}
.user-login-textinput1 {
  width: var(--dl-size-size-xxlarge);
}
.user-login-button {
  width: var(--dl-size-size-xlarge);
  align-self: center;
}
@media(max-width: 479px) {
  .user-login-user-name-field {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .user-login-text6 {
    text-align: left;
    padding-left: var(--dl-space-space-unit);
  }
  .user-login-textinput {
    width: 270px;
  }
  .user-login-user-name-field1 {
    align-self: center;
    align-items: flex-start;
    justify-content: center;
  }
  .user-login-text7 {
    width: var(--dl-size-size-xlarge);
    text-align: left;
    font-family: Arial;
    padding-left: 0px;
    padding-right: 0px;
    text-transform: capitalize;
  }
  .user-login-textinput1 {
    width: 270px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
