.z-home-test-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.z-home-test-text {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 513px;
  height: 151px;
  margin: auto;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--dl-space-space-halfunit);
}
.z-home-test-recomended {
  width: 954px;
  height: 698px;
  margin: var(--dl-space-space-twounits);
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 122px;
  align-items: center;
  margin-bottom: 28px;
  justify-content: center;
}
@media(max-width: 479px) {
  .z-home-test-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .z-home-test-text {
    top: 40px;
    left: 110px;
    width: 244px;
    height: 82px;
    position: absolute;
    align-self: center;
    text-align: center;
  }
  .z-home-test-recomended {
    flex-wrap: wrap;
  }
}
