.z-login-test-container {
  display: flex;
  padding: 1rem;
  max-width: 330;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.z-login-test-form {
  flex: 1;
  width: auto;
  height: auto;
  max-width: auto;
  min-width: auto;
  align-self: center;
  max-height: auto;
  min-height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.z-login-test-image {
  width: 72px;
  height: 57px;
  object-fit: cover;
}
.z-login-test-input {
  padding: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}
.z-login-test-input1 {
  padding: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  margin-bottom: 0px;
}
.z-login-test-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.z-login-test-button {
  width: var(--dl-size-size-medium);
  padding: 2px;
}
