.form-input-field-user-name-field {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.form-input-field-text {
  width: var(--dl-size-size-xlarge);
  height: 35px;
  align-self: flex-start;
  text-align: right;
  line-height: 2;
  padding-right: var(--dl-space-space-unit);
}
.form-input-field-textinput {
  width: var(--dl-size-size-xxlarge);
}
@media(max-width: 1200px) {
  .form-input-field-text {
    text-align: right;
  }
}
@media(max-width: 479px) {
  .form-input-field-user-name-field {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .form-input-field-text {
    width: 170px;
    text-align: left;
    font-family: Arial;
    padding-right: var(--dl-space-space-unit);
    text-transform: capitalize;
  }
  .form-input-field-textinput {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
