.link-label-div {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .link-label-container1 {
    flex: 0 0 auto;
    width: auto;
    height: 100px;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .link-label-content {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-self: center;
    flex-direction: row;
  }
  .label-text {
    width: var(--dl-size-size-medium);
    align-self: center;
  }
  .link-label-text1 {
    width: 290px;
    height: auto;
    text-decoration: underline;
    align-self: center;
    text-align: left;
  }
  
  
  .label-root-class-name2 {
    align-self: center;
  }
  
  
  
  
  
  @media(max-width: 479px) {
    .label-container1 {
      width: auto;
      height: auto;
      justify-content: flex-start;
    }
    .label-container2 {
      width: auto;
      align-self: flex-start;
      justify-content: center;
    }
  }
  