.navigator-bar-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navigator-bar-navlink {
  display: contents;
}
.navigator-bar-image {
  height: 2rem;
  transition: 0.3s;
  text-decoration: none;
}
.navigator-bar-nav {
  display: flex;
  transition: 0.3s;
}
.navigator-bar-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navigator-bar-login {
  transition: 0.3s;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigator-bar-login:hover {
  color: #ffffff;
  background-color: #000000;
}
.navigator-bar-register {
  color: #ffffff;
  transition: 0.3s;
  border-width: 0px;
  text-decoration: none;
  background-color: #000000;
}
.navigator-bar-register:hover {
  background-color: #a2a2a2;
}
.navigator-bar-greeting {
  margin-right: var(--dl-space-space-twounits);
}
.navigator-bar-signout {
  color: #ffffff;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  background-color: #000000;
}
.navigator-bar-signout:hover {
  background-color: #a2a2a2;
}

@media(max-width: 767px) {
  .navigator-bar-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navigator-bar-nav {
    display: none;
  }
  .navigator-bar-btn-group {
    display: none;
  }
}
@media(max-width: 479px) {
  .navigator-bar-header {
    padding: var(--dl-space-space-unit);
  }
  .navigator-bar-nav {
    display: flex;
    background-color: #f10404;
  }
  .navigator-bar-btn-group {
    display: flex;
    flex-direction: column;
  }
}
