.rated-restraunt-card-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rated-restraunt-card-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rated-restraunt-card-restraunt-image {
  height: 330px;
  align-self: stretch;
  object-fit: cover;
}
.rated-restraunt-card-restraunt-name {
  align-self: stretch;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.rated-restraunt-card-rating {
  color: var(--dl-color-gray-500);
  align-self: stretch;
}
.rated-restraunt-card-root-class-name {
  width: auto;
  height: auto;
}
.rated-restraunt-card-root-class-name1 {
  width: auto;
  height: auto;
}
.rated-restraunt-card-root-class-name2 {
  width: auto;
  height: auto;
}
@media(max-width: 767px) {
  .rated-restraunt-card-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .rated-restraunt-card-restraunt-image {
    height: 10rem;
  }
}
