.restaurant-instance-container {
  gap: var(--dl-space-space-halfunit);
  width: var(--dl-size-size-xxlarge);
  height: 410px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.restaurant-instance-image {
  width: auto;
  max-width: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.restaurant-instance-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: var(--dl-size-size-xxlarge);
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.restaurant-instance-text {
  width: var(--dl-size-size-xlarge);
  font-size: 24px;
  text-align: center;
}
.restaurant-instance-text1 {
  font-size: 14px;
  text-align: center;
}






