.star-rating-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.star-rating-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.star-rating-button {
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4,5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  background-color: transparent;
}
.star-rating-button:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.star-rating-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.star-rating-button1 {
  display: flex;
  transition: 0.3s;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  background-color: transparent;
}
.star-rating-button1:active {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.star-rating-icon02 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.3s;
}
.star-rating-icon02:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.star-rating-button2 {
  display: flex;
  transition: 0.3s;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  background-color: transparent;
}
.star-rating-button2:active {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.star-rating-icon04 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.3s;
}
.star-rating-icon04:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.star-rating-button3 {
  display: flex;
  transition: 0.3s;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  background-color: transparent;
}
.star-rating-button3:active {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.star-rating-icon06 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.3s;
}
.star-rating-icon06:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.star-rating-button4 {
  display: flex;
  transition: 0.3s;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  background-color: transparent;
}
.star-rating-button4:active {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.star-rating-icon08 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.3s;
}
.star-rating-icon08:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}





