.title-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.title-header {
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.title-image {
  width: 100%;
  height: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
}
.title-text-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
}
.title-text {
  align-self: center;
}
.title-text1 {
  align-self: center;
}
.sub-header-text2 {
  align-self: center;
}





